{{#each this}}
  <li class='gallery__item'>

    <div class='photo-card'>
      <a class='gallery__link' href='{{largeImageURL}}'>
        <div class='gallery__thumb'>
          <img
            class='gallery__image'
            src='{{webformatURL}}'
            alt='{{tags}}'
            loading='lazy'
            decoding='async'
            width='{{webformatWidth}}'
            height='{{webformatHeight}}'
          />
        </div>

        <ul class='info'>
          <li class='info-item'>
            <b>Likes: </b><span>{{likes}}</span>
          </li>

          <li class='info-item'>
            <b>Views: </b><span>{{views}}</span>
          </li>

          <li class='info-item'>
            <b>Comments: </b><span>{{comments}}</span>
          </li>

          <li class='info-item'>
            <b>Downloads: </b><span>{{downloads}}</span>
          </li>
        </ul>
      </a>

    </div>
  </li>
{{/each}}
